/* universal styles */
*{
    /* margin: 0px; */
}
/*shared styles*/
.body{
    font-family: "Merriweather", serif;
}

/* header section styles */
header{
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    max-width: 1320px;
    border-radius: 16px;
/* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
margin: 50px 140px 0px 140px;
padding: 0px 244px 0px 244px;
align-items: center;
justify-content: center;
text-align: center;
}
.banner-title{
    padding-top: 177px;
    color: #FFF;
font-size: 32px;
font-weight: 400;
}
.banner-heading{
    max-width: 632px;
    padding-bottom: 450px;
    color: #FFF;
font-size: 72px;
font-weight: 900;
}
/* offer section styles */
.offer{
    text-align: center;
}
.offer-title{
    color: #F00;
font-family: Inter;
font-size: 88px;
font-weight: 700;
}
.offer-description{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.offer-subheading{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
/* welcome section styles */
.welcome{
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin: 120px 140px;
    padding: 60px 126px;
}
.welcome-details{
    
    max-width: 1320px;
    /* margin: 120px 140px; */
}
.welcome-title{
    color: #FFF;
font-size: 64px;
font-weight: 900;
margin-bottom: 24px;
}
.welcome-description{
    color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-weight: 400;
margin-bottom: 32px;
}
.simple-text{
    color: #FFF;
font-size: 20px;
font-weight: 700;
}
/* join now section styles */

.join-now{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    max-width: 1320px;
    text-align: center;
    align-items: center;
    margin: 120px 140px 120px 140px;
    padding: 100px 385px 110px 385px;
}
.join-now p , button{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.common-color{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.join-button{
    border-radius: 8px;
background: #F00;
padding: 16px 32px;
}
/* best offer section styles */
.best-offer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin: 0 140px;
}
.div-a{
    width: 33%;
}
.div-c{
    width: 33%;
}
/* holiday sales section styles */
.holiday-sales{
    background-image: url('../images/Rectangle\ 2.png'), url('../images/Rectangle\ 1.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, right;
    max-width: 1320px;
    margin: 100px 140px;
    padding: ;
    text-align: center;
}
.holiday-sales-images{
    display: flex;
}
.holiday-sales-text{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.holiday-sales-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 28px;
}
.holiday-sales-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
    margin-bottom: 64px;
}
.color{
    color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}